form(name="createProfileForm")
	.form-group
		label Name
		input.form-control(type="text" ng-model="main.person.name")
	.form-group
		label Email
		input.form-control(type="text" ng-model="main.person.email")
	.form-group
		label Password
		input.form-control(type="password" ng-model="main.person.password")
	.form-group
		label City
		input.form-control(type="text" ng-model="main.person.city")
	.form-group
		label Hobbies
		input.form-control(type="text" ng-model="main.person.hobbies")
	.form-group
		label Photo
		input.form-control(type="url" ng-model="main.person.photo")
	.btn.btn-primary(ng-click="createProfileForm.$valid && main.createPerson()") Submit
