form(name="createProfileForm")
	.form-group
		label Name
		input.form-control(type="text" ng-model="main.person.name")
	.form-group
		label Email
		input(type="text" ng-model="main.person.email")
	.form-group
		label City
		input(type="text" ng-model="main.person.city")
	.form-group
		label Hobbies
		input(type="text" ng-model="main.person.hobbies")
